{
  "scripts": [ "/pat/infinv/infinv.lua" ],
  "scriptDelta": 0,
  "scriptWidgetCallbacks": [
    "TabList.SelectCallback",
    "tabIconSelect",
    "newTabButton",
    "deleteTabButton",
    "tabConfigCheckbox",
    "labelTextbox",
    "labelTextboxBlur",
    "arrowButton"
  ],

  "slotCount": 60,
  "strings": {
    "tooltips": {
      "newTabButton": "Create New Tab",
      "arrowUpButton": "Move Tab Up",
      "arrowDownButton": "Move Tab Down",
      "deleteTabButton": "Delete Empty Tab",
      "tabConfigCheckbox": "Edit Tab"
    },
    "title": "Infiniter Inventory",
    "defaultTabSubtitle": "Tab #%s"
  },

  "gui": {
    "background": {
      "type": "background",
      "fileHeader": "/pat/infinv/images/header.png",
      "fileBody": "/pat/infinv/images/body.png",
      "fileFooter": "/pat/infinv/images/footer.png"
    },
    "title": {
      "type": "title",
      "icon": {
        "type": "image",
        "drawables": [
          { "image": "/interface/inventory/portrait.png", "centered": false },
          { "image": "/pat/infinv/images/icon.png", "centered": false, "position": [ 2, 2 ] }
        ]
      }
    },
    "newTabButton": {
      "type": "button",
      "callback": "newTabButton",
      "position": [ 6, 3 ],
      "pressedOffset": [ 0, 0 ],
      "base": "/pat/infinv/images/buttons/plus.png:base",
      "hover": "/pat/infinv/images/buttons/plus.png:base?multiply=aff",
      "pressed": "/pat/infinv/images/buttons/plus.png:press?multiply=0ff"
    },
    "arrowUpButton": {
      "type": "button",
      "callback": "arrowButton",
      "data": -1,
      "position": [ 19, 3 ],
      "pressedOffset": [ 0, 1 ],
      "base": "/pat/infinv/images/buttons/arrow.png:base",
      "hover": "/pat/infinv/images/buttons/arrow.png:base?multiply=afa",
      "pressed": "/pat/infinv/images/buttons/arrow.png:press?multiply=0f0"
    },
    "arrowDownButton": {
      "type": "button",
      "callback": "arrowButton",
      "data": 1,
      "position": [ 31, 3 ],
      "pressedOffset": [ 0, -1 ],
      "base": "/pat/infinv/images/buttons/arrow.png:base?flipy",
      "hover": "/pat/infinv/images/buttons/arrow.png:base?flipy?multiply=ffa",
      "pressed": "/pat/infinv/images/buttons/arrow.png:press?flipy?multiply=ff0"
    },
    "deleteTabButton": {
      "type": "button",
      "callback": "deleteTabButton",
      "position": [ 45, 2 ],
      "pressedOffset": [ 0, 0 ],
      "base": "/pat/infinv/images/buttons/trash.png:base",
      "hover": "/pat/infinv/images/buttons/trash.png:base?multiply=faa",
      "pressed": "/pat/infinv/images/buttons/trash.png:press?multiply=f00"
    },
    "tabConfigCheckbox": {
      "type": "button",
      "callback": "tabConfigCheckbox",
      "position": [ 59, 3 ],
      "pressedOffset": [ 0, 0 ],
      "base": "/pat/infinv/images/buttons/edit.png:base",
      "hover": "/pat/infinv/images/buttons/edit.png:base?multiply=faf",
      "pressed": "/pat/infinv/images/buttons/edit.png:press?multiply=f0f",
      "baseImageChecked": "/pat/infinv/images/buttons/edit.png:press?multiply=faf",
      "hoverImageChecked": "/pat/infinv/images/buttons/edit.png:press?multiply=f0f",
      "pressedImageChecked": "/pat/infinv/images/buttons/edit.png:base",
      "checkable": true
    },
    "tabs": {
      "type": "scrollArea",
      "rect": [ 3, 15, 46, 140 ],
      "children": {
        "list": {
          "type": "list",
          "callback": "TabList.SelectCallback",
          "data": {
            "defaultIconIndexMax": 12,
            "initChildrem": [ "button", "icon", "item" ]
          },
          "schema": {
            "selectedBG": "/pat/infinv/images/tabselectedbg.png",
            "spacing": [ 0, 1 ],
            "memberSize": [ 32, 16 ],
            "listTemplate": {
              "background": {
                "type": "image",
                "zlevel": -10
              },
              "button": {
                "type": "button",
                "callback": "null",
                "position": [ 0, -1 ],
                "pressedOffset": [ 0, -1 ],
                "base": "/pat/infinv/images/tabbutton.png:base",
                "hover": "/pat/infinv/images/tabbutton.png:hover",
                "pressed": "/pat/infinv/images/tabbutton.png:pressed",
                "disabledImage": "/pat/infinv/images/tabbutton.png:disabled"
              },
              "icon": {
                "type": "image",
                "position": [ 16, 8 ],
                "maxSize": [ 30, 18 ],
                "zlevel": 2,
                "centered": true,
                "mouseTransparent": true
              }
            }
          }
        }
      }
    },
    "slots": {
      "type": "list",
      "position": [ 53, 20 ],
      "columns": 10,
      "callback": "null",
      "scissoring": false,
      "schema": {
        "spacing": [ 1, 1 ],
        "memberSize": [ 18, 18 ],
        "listTemplate": {
          "slot": {
            "type": "itemslot",
            "showCount": false,
            "showRarity": true,
            "showDurability": true,
            "backingImage": "/interface/inventory/empty.png"
          },
          "count": {
            "type": "label",
            "position": [ 20, -3 ],
            "scissoring": false,
            "hAnchor": "right"
          }
        }
      }
    },
    "tabConfig": {
      "type": "scrollArea",
      "visible": false,
      "rect": [ 56, 15, 242, 140 ],
      "children": {
        "": { "type": "image", "position": [ 0, 15 ] },
        "labelBg": {
          "type": "image",
          "position": [ 1, -3 ],
          "file": "/pat/infinv/images/textbox.png"
        },
        "labelTextbox": {
          "type": "textbox",
          "hint": "^#444; Tab name",
          "position": [ 5, 0 ],
          "maxWidth": 74,
          "callback": "labelTextbox",
          "enterKey": "labelTextboxBlur",
          "nextFocus": "_tabBlur",
          "prevFocus": "_tabBlur"
        },
        "_tabBlur": { "type": "textbox", "visible": false, "callback": "labelTextboxBlur" },
        "iconList": {
          "type": "list",
          "position": [ 0, -4 ],
          "columns": 5,
          "fillDown": true,
          "scissoring": false,
          "callback": "tabIconSelect",
          "schema": {
            "selectedBG": "/pat/infinv/images/tabselectedbg.png",
            "spacing": [ 2, 3 ],
            "memberSize": [ 32, 16 ],
            "listTemplate": {
              "background": {
                "type": "image",
                "zlevel": -10
              },
              "button": {
                "type": "button",
                "callback": "null",
                "position": [ 0, -1 ],
                "pressedOffset": [ 0, -1 ],
                "base": "/pat/infinv/images/tabbutton.png:base",
                "hover": "/pat/infinv/images/tabbutton.png:hover",
                "pressed": "/pat/infinv/images/tabbutton.png:pressed",
                "disabledImage": "/pat/infinv/images/tabbutton.png:disabled"
              },
              "icon": {
                "type": "image",
                "position": [ 16, 8 ],
                "maxSize": [ 30, 18 ],
                "zlevel": 2,
                "centered": true,
                "mouseTransparent": true
              }
            }
          }
        }
      }
    }
  },

  "tabIcons": [
    "/pat/infinv/images/bags.png:0",
    "/pat/infinv/images/bags.png:1",
    "/pat/infinv/images/bags.png:2",
    "/pat/infinv/images/bags.png:3",
    "/pat/infinv/images/bags.png:4",
    "/pat/infinv/images/bags.png:5",
    "/pat/infinv/images/bags.png:6",
    "/pat/infinv/images/bags.png:7",
    "/pat/infinv/images/bags.png:8",
    "/pat/infinv/images/bags.png:9",
    "/pat/infinv/images/bags.png:10",
    "/pat/infinv/images/bags.png:11",
    "/pat/infinv/images/icon.png",
    "/interface/inventory/bigobj.png:base",
    "/interface/inventory/bigfood.png:base",
    "/interface/crafting/tabicon_materials.png",
    "/interface/inventory/bigcart(Dirt).png",
    "/interface/crafting/tabicon_crafting.png",
    "/interface/crafting/tabicon_equipment.png",
    "/interface/inventory/smallcart.png",
    "/interface/crafting/tabicon_weapons.png",
    "/interface/crafting/tabicon_armours.png",
    "/interface/crafting/tabicon_consumables.png",
    "/interface/crafting/tabicon_epp.png",
    "/interface/crafting/tabicon_bars.png",
    "/interface/crafting/tabicon_ingredientsbottle.png",
    "/interface/crafting/tabicon_clothes.png",
    "/interface/crafting/tabicon_ingredientsstring.png",
    "/interface/crafting/tabicon_dyes.png",
    "/interface/crafting/tabicon_doors.png",
    "/interface/crafting/tabicon_lights.png",
    "/interface/crafting/tabicon_beds.png",
    "/interface/crafting/tabicon_storage.png",
    "/interface/crafting/tabicon_decorations.png",
    "/interface/crafting/tabicon_decorations2.png",
    "/interface/crafting/tabicon_mains.png",
    "/interface/crafting/tabicon_sides.png",
    "/interface/crafting/tabicon_desserts.png",
    "/interface/crafting/tabicon_snacks.png",
    "/interface/crafting/tabicon_drinks.png",
    "/interface/crafting/tabicon_condiments.png",
    "/interface/crafting/tabicon_healing.png",
    "/interface/crafting/tabicon_buffs.png",
    "/interface/crafting/tabicon_fossilbrush.png",
    "/interface/crafting/tabicon_fossilstand.png",
    "/interface/crafting/tabicon_misc.png",
    "/interface/crafting/tabicon_switches.png",
    "/interface/crafting/tabicon_sensors.png",
    "/interface/crafting/tabicon_logic.png",
    "/interface/crafting/tabicon_mechanics.png",
    "/interface/crafting/tabicon_farming.png",
    "/interface/crafting/tabicon_hunting.png",
    "/interface/crafting/tabicon_survival.png",
    "/interface/crafting/tabicon_pixelcompress.png",
    "/interface/crafting/tabicon_pixeldecompress.png",
    "/interface/crafting/tabicon_mechbody.png",
    "/interface/crafting/tabicon_mechbooster.png",
    "/interface/crafting/tabicon_mecharm.png",
    "/interface/crafting/tabicon_mechlegs.png",
    "/interface/crafting/tabicon_hazardgear.png",
    "/interface/inventory/sword.png",
    "/interface/inventory/shield.png",
    "/interface/inventory/heart.png",
    "/interface/inventory/lightning.png",
    "/interface/inventory/lightningplus.png",
    "/interface/elements/fire.png",
    "/interface/elements/poison.png",
    "/interface/elements/water.png",
    "/interface/elements/ice.png",
    "/interface/elements/electric.png",
    "/ai/ai.png",
    "/ai/beamaxe.png",
    "/ai/wiretool.png",
    "/ai/painttool.png",
    "/ai/thrusters.png",
    "/ai/missionhuman1icon.png",
    "/ai/missionfloran1icon.png",
    "/ai/missionhylotl1icon.png",
    "/ai/missionavian1icon.png",
    "/ai/missionapex1icon.png",
    "/ai/missionglitch1icon.png",
    "/ai/missioncultist1icon.png",
    "/ai/dreadwingicon.png",
    "/ai/weapontestingicon.png",
    "/interface/quests/questreceiver.png",
    "/interface/quests/questgiver.png",
    "/interface/quests/mainquestgiver.png",
    "/interface/statuses/absorb.png",
    "/interface/statuses/glue.png",
    "/interface/statuses/slime.png",
    "/interface/statuses/tar.png",
    "/interface/statuses/wet.png",
    "/interface/statuses/x.png",
    "/interface/statuses/pause.png",
    "/interface/statuses/stop.png",
    "/interface/statuses/slow.png",
    "/interface/statuses/slow25.png",
    "/interface/statuses/haste20.png",
    "/interface/statuses/haste.png",
    "/interface/statuses/jumpboost.png",
    "/interface/statuses/jumpboost20.png",
    "/interface/statuses/runboost.png",
    "/interface/statuses/swimboost.png",
    "/interface/statuses/glow.png",
    "/interface/statuses/warm.png",
    "/interface/statuses/air.png",
    "/interface/statuses/biomeradioactive.png",
    "/interface/statuses/biomecold.png",
    "/interface/statuses/biomeheat.png",
    "/interface/statuses/erchiussickness.png",
    "/interface/statuses/doomed.png",
    "/interface/statuses/oldpoison.png",
    "/interface/statuses/poison.png",
    "/interface/statuses/poison2.png",
    "/interface/statuses/fire.png",
    "/interface/statuses/nova.png",
    "/interface/statuses/frozenfire.png",
    "/interface/statuses/electric.png",
    "/interface/statuses/energy.png",
    "/interface/statuses/frozen.png",
    "/interface/statuses/ice.png",
    "/interface/statuses/rage.png",
    "/interface/statuses/berserk.png",
    "/interface/statuses/hawkeye.png",
    "/interface/statuses/invisible.png",
    "/interface/statuses/forcefield.png",
    "/interface/statuses/nude.png",
    "/interface/statuses/foodpoison.png",
    "/interface/statuses/hungry.png",
    "/interface/statuses/starving.png",
    "/interface/statuses/sleep.png",
    "/interface/statuses/levitate.png",
    "/interface/statuses/nofalldamage.png",
    "/interface/statuses/lowgrav.png",
    "/interface/statuses/heal.png",
    "/interface/statuses/tranquilizer.png",
    "/interface/statuses/brain.png",
    "/interface/statuses/crash.png",
    "/interface/statuses/timefreeze.png"
  ]
}
