{
  "scripts": [ "/pat/infinv/infinv.lua" ],
  "scriptDelta": 0,
  "scriptWidgetCallbacks": [
    "TabList.SelectCallback",
    "Callbacks.newTabButton",
    "Callbacks.moveTabButton",
    "Callbacks.deleteTabButton",
    "Callbacks.tabConfigCheckbox",
    "Callbacks.tabIconSelect",
    "Callbacks.tabLabelTextbox",
    "Callbacks.tabConfigTextboxBlur"
  ],

  "slotCount": 60,
  "strings": {
    "tooltips": {
      "newTabButton": "Create New Bag",
      "tabConfig.moveTabUpButton": "Move Bag Up",
      "tabConfig.moveTabDownButton": "Move Bag Down",
      "tabConfig.deleteTabButton": "Delete Empty Bag",
      "tabConfigCheckbox": "Edit Bag"
    },
    "title": "Infiniter Inventory",
    "defaultTabSubtitle": "Bag #%s"
  },

  "gui": {
    "background": {
      "type": "background",
      "fileHeader": "/pat/infinv/images/header.png",
      "fileBody": "/pat/infinv/images/body.png",
      "fileFooter": "/pat/infinv/images/footer.png"
    },
    "title": {
      "type": "title",
      "icon": {
        "type": "image",
        "drawables": [
          { "image": "/interface/inventory/portrait.png", "centered": false },
          { "image": "/pat/infinv/images/icon.png", "centered": false, "position": [ 2, 2 ] }
        ]
      }
    },
    "newTabButton": {
      "type": "button",
      "callback": "Callbacks.newTabButton",
      "position": [ 7, 3 ],
      "pressedOffset": [ 0, 0 ],
      "base": "/pat/infinv/images/buttons/plus.png:base",
      "hover": "/pat/infinv/images/buttons/plus.png:base?multiply=aff",
      "pressed": "/pat/infinv/images/buttons/plus.png:press?multiply=0ff"
    },
    "tabConfigCheckbox": {
      "type": "button",
      "callback": "Callbacks.tabConfigCheckbox",
      "position": [ 21, 3 ],
      "pressedOffset": [ 0, 0 ],
      "base": "/pat/infinv/images/buttons/edit.png:base",
      "hover": "/pat/infinv/images/buttons/edit.png:base?multiply=faf",
      "pressed": "/pat/infinv/images/buttons/edit.png:press?multiply=f0f",
      "baseImageChecked": "/pat/infinv/images/buttons/edit.png:press?multiply=faf",
      "hoverImageChecked": "/pat/infinv/images/buttons/edit.png:press?multiply=f0f",
      "pressedImageChecked": "/pat/infinv/images/buttons/edit.png:base",
      "checkable": true
    },
    "tabs": {
      "type": "scrollArea",
      "rect": [ 3, 15, 46, 140 ],
      "children": {
        "list": {
          "type": "list",
          "callback": "TabList.SelectCallback",
          "data": {
            "defaultIconIndexMax": 12,
            "initChildren": [ "button", "icon", "item" ]
          },
          "schema": {
            "selectedBG": "/pat/infinv/images/tabselectedbg.png",
            "spacing": [ 0, 1 ],
            "memberSize": [ 32, 16 ],
            "listTemplate": {
              "background": {
                "type": "image",
                "zlevel": -10
              },
              "button": {
                "type": "button",
                "callback": "null",
                "position": [ 0, -1 ],
                "pressedOffset": [ 0, -1 ],
                "base": "/pat/infinv/images/tabbutton.png:base",
                "hover": "/pat/infinv/images/tabbutton.png:hover",
                "pressed": "/pat/infinv/images/tabbutton.png:pressed",
                "disabledImage": "/pat/infinv/images/tabbutton.png:disabled"
              },
              "icon": {
                "type": "image",
                "position": [ 16, 8 ],
                "maxSize": [ 30, 18 ],
                "zlevel": 2,
                "centered": true,
                "mouseTransparent": true
              }
            }
          }
        }
      }
    },
    "slots": {
      "type": "list",
      "position": [ 53, 20 ],
      "columns": 10,
      "callback": "null",
      "scissoring": false,
      "schema": {
        "spacing": [ 1, 1 ],
        "memberSize": [ 18, 18 ],
        "listTemplate": {
          "slot": {
            "type": "itemslot",
            "showCount": false,
            "showRarity": true,
            "showDurability": true,
            "backingImage": "/interface/inventory/empty.png"
          },
          "count": {
            "type": "label",
            "position": [ 20, -3 ],
            "scissoring": false,
            "hAnchor": "right"
          }
        }
      }
    },
    "tabConfigBg": {
      "type": "image",
      "visible": false,
      "position": [ 47, 15 ],
      "zlevel": -100,
      "file": "/pat/infinv/images/tabconfigbg.png",
      "scissoring": false,
      "mouseTransparent": true
    },
    "tabConfig": {
      "type": "scrollArea",
      "visible": false,
      "rect": [ 56, 15, 242, 140 ],
      "children": {
        "_anchor": { "type": "image", "position": [ 0, 15 ] },
        "labelBg": {
          "type": "image",
          "position": [ 1, -3 ],
          "file": "/pat/infinv/images/textbox.png"
        },
        "labelTextbox": {
          "type": "textbox",
          "hint": "^#444; Bag name",
          "position": [ 5, 0 ],
          "maxWidth": 74,
          "callback": "Callbacks.tabLabelTextbox",
          "enterKey": "Callbacks.tabConfigTextboxBlur",
          "nextFocus": "_tabBlur",
          "prevFocus": "_tabBlur"
        },
        "_tabBlur": { "type": "textbox", "visible": false, "callback": "Callbacks.tabConfigTextboxBlur" },
        "moveTabUpButton": {
          "type": "button",
          "callback": "Callbacks.moveTabButton",
          "data": -1,
          "position": [ 130, 0 ],
          "pressedOffset": [ 0, 1 ],
          "base": "/pat/infinv/images/buttons/arrow.png:base",
          "hover": "/pat/infinv/images/buttons/arrow.png:base?multiply=afa",
          "pressed": "/pat/infinv/images/buttons/arrow.png:press?multiply=0f0"
        },
        "moveTabDownButton": {
          "type": "button",
          "callback": "Callbacks.moveTabButton",
          "data": 1,
          "position": [ 142, 0 ],
          "pressedOffset": [ 0, -1 ],
          "base": "/pat/infinv/images/buttons/arrow.png:base?flipy",
          "hover": "/pat/infinv/images/buttons/arrow.png:base?flipy?multiply=afa",
          "pressed": "/pat/infinv/images/buttons/arrow.png:press?flipy?multiply=0f0"
        },
        "deleteTabButton": {
          "type": "button",
          "callback": "Callbacks.deleteTabButton",
          "position": [ 156, -1 ],
          "pressedOffset": [ 0, 0 ],
          "base": "/pat/infinv/images/buttons/trash.png:base",
          "hover": "/pat/infinv/images/buttons/trash.png:base?multiply=faa",
          "pressed": "/pat/infinv/images/buttons/trash.png:press?multiply=f00"
        },
        "iconList": {
          "type": "list",
          "position": [ 0, -4 ],
          "columns": 5,
          "fillDown": true,
          "scissoring": false,
          "callback": "Callbacks.tabIconSelect",
          "schema": {
            "selectedBG": "/pat/infinv/images/tabselectedbg.png",
            "spacing": [ 2, 3 ],
            "memberSize": [ 32, 16 ],
            "listTemplate": {
              "background": {
                "type": "image",
                "zlevel": -10
              },
              "button": {
                "type": "button",
                "callback": "null",
                "position": [ 0, -1 ],
                "pressedOffset": [ 0, -1 ],
                "base": "/pat/infinv/images/tabbutton.png:base",
                "hover": "/pat/infinv/images/tabbutton.png:hover",
                "pressed": "/pat/infinv/images/tabbutton.png:pressed",
                "disabledImage": "/pat/infinv/images/tabbutton.png:disabled"
              },
              "icon": {
                "type": "image",
                "position": [ 16, 8 ],
                "maxSize": [ 30, 18 ],
                "zlevel": 2,
                "centered": true,
                "mouseTransparent": true
              }
            }
          }
        }
      }
    }
  }
}
