{
  "scripts": [ "/pat/infinv/InfiniteInventory.lua" ],
  "scriptDelta": 1,
  "scriptWidgetCallbacks": [
    "TabList._select",
    "IconPicker._slotLeft",
    "IconPicker._slotRight",
    "Callbacks.newTabButton",
    "Callbacks.moveTabButton",
    "Callbacks.deleteTabButton",
    "Callbacks.sortButton",
    "Callbacks.quickStackButton",
    "Callbacks.tabConfigCheckbox",
    "Callbacks.tabIconRotateButton",
    "Callbacks.tabIconSelect",
    "Callbacks.tabBorderSelect",
    "Callbacks.tabBackingSelect",
    "Callbacks.tabLabelTextbox",
    "Callbacks.tabLabelBlur",
    "Callbacks.changePage",
    "Callbacks.quickMoveCheckbox"
  ],

  "strings": {
    "tooltips": {
      "newTabButton": "Create New Bag",
      "tabConfigCheckbox": "Edit Bag",
      "quickMoveCheckbox": "Toggle Quick-moving",
      "quickStackButton": "Quick Stack",
      "sortButton": "Sort Items",
      "gridLayout.prevPageButton": "Previous Page",
      "gridLayout.nextPageButton": "Next Page",
      "editorLayout.moveTabUpButton": "Move Bag Up",
      "editorLayout.moveTabDownButton": "Move Bag Down",
      "editorLayout.deleteTabButton": "Delete Empty Bag",
      "editorLayout.editorTabs.tabs.icon.rotateIconButton": "Rotate Icon",
      "tabIconSlot": "Insert item to use as icon"
    },
    "defaultTabSubtitle": "Bag #%s",
    "pageText": "^shadow;%s/%s"
  },

  "gui": {
    "background": {
      "type": "background",
      "fileHeader": "/pat/infinv/images/background.png:header",
      "fileBody": "/pat/infinv/images/background.png:body",
      "fileFooter": "/pat/infinv/images/background.png:footer"
    },
    "border": {
      "type": "image",
      "zlevel": -1000,
      "file": "/pat/infinv/images/editor/borders/base.png"
    },
    "titleIcon": {
      "type": "image",
      "position": [ 4, 142 ],
      "zlevel": -999,
      "drawables": [
        { "image": "/interface/inventory/portrait.png", "centered": false },
        { "image": "/pat/infinv/images/icon.png", "centered": false, "position": [ 2, 2 ] }
      ]
    },
    "titleText": {
      "type": "label",
      "position": [ 29, 154 ],
      "zlevel": -999,
      "value": "^shadow;Infiniter Inventory"
    },
    "subtitleText": {
      "type": "label",
      "position": [ 29, 144 ],
      "zlevel": -999,
      "color": "lightgray",
      "value": "^shadow;Hash Brown"
    },
    "close": {
      "type": "button",
      "position": [ 234, 147 ],
      "pressedOffset": [ 0, 0 ],
      "base": "/interface/x.png",
      "hover": "/interface/xhover.png",
      "pressed": "/interface/xpress.png"
    },
    "newTabButton": {
      "type": "button",
      "callback": "Callbacks.newTabButton",
      "position": [ 7, 2 ],
      "pressedOffset": [ 0, 0 ],
      "base": "/pat/infinv/images/buttons/plus.png:base",
      "hover": "/pat/infinv/images/buttons/plus.png:base?multiply=aff",
      "pressed": "/pat/infinv/images/buttons/plus.png:press?multiply=0ff"
    },
    "tabConfigCheckbox": {
      "type": "button",
      "checkable": true,
      "callback": "Callbacks.tabConfigCheckbox",
      "position": [ 21, 2 ],
      "pressedOffset": [ 0, 0 ],
      "base": "/pat/infinv/images/buttons/edit.png:base",
      "hover": "/pat/infinv/images/buttons/edit.png:base?multiply=faf",
      "pressed": "/pat/infinv/images/buttons/edit.png:press?multiply=f0f",
      "baseImageChecked": "/pat/infinv/images/buttons/edit.png:press?multiply=faf",
      "hoverImageChecked": "/pat/infinv/images/buttons/edit.png:press?multiply=f0f",
      "pressedImageChecked": "/pat/infinv/images/buttons/edit.png:base"
    },
    "quickStackButton": {
      "type": "button",
      "callback": "Callbacks.quickStackButton",
      "position": [ 218, 2 ],
      "pressedOffset": [ 0, 0 ],
      "base": "/pat/infinv/images/buttons/quickstack.png:base",
      "hover": "/pat/infinv/images/buttons/quickstack.png:base?multiply=ffa",
      "pressed": "/pat/infinv/images/buttons/quickstack.png:press?multiply=ff0"
    },
    "sortButton": {
      "type": "button",
      "callback": "Callbacks.sortButton",
      "position": [ 232, 2 ],
      "pressedOffset": [ 0, 0 ],
      "base": "/pat/infinv/images/buttons/sort.png:base",
      "hover": "/pat/infinv/images/buttons/sort.png:base?multiply=faa",
      "pressed": "/pat/infinv/images/buttons/sort.png:press?multiply=f00"
    },
    "quickMoveCheckbox": {
      "type": "button",
      "checkable": true,
      "callback": "Callbacks.quickMoveCheckbox",
      "position": [ 204, 2 ],
      "pressedOffset": [ 0, 0 ],
      "base": "/pat/infinv/images/buttons/quickmove.png:base",
      "hover": "/pat/infinv/images/buttons/quickmove.png:base?multiply=afa",
      "pressed": "/pat/infinv/images/buttons/quickmove.png:press?multiply=0f0",
      "baseImageChecked": "/pat/infinv/images/buttons/quickmove.png:press?multiply=afa",
      "hoverImageChecked": "/pat/infinv/images/buttons/quickmove.png:press?multiply=0f0",
      "pressedImageChecked": "/pat/infinv/images/buttons/quickmove.png:base"
    },
    "bagTabs": {
      "type": "scrollArea",
      "rect": [ 3, 15, 46, 140 ],
      "children": {
        "list": {
          "type": "list",
          "callback": "TabList._select",
          "scissoring": false,
          "data": {
            "initChildren": [ "button" ],
            "defaultIconMaxIndex": 9,
            "iconTemplate": {
              "type": "image",
              "position": [ 16, 8 ],
              "maxSize": [ 30, 18 ],
              "zlevel": 2,
              "centered": true,
              "mouseTransparent": true
            }
          },
          "schema": {
            "selectedBG": "/pat/infinv/images/tab/selectedbg.png",
            "spacing": [ 0, 1 ],
            "memberSize": [ 32, 16 ],
            "listTemplate": {
              "background": { "type": "image", "zlevel": -10 },
              "button": {
                "type": "button",
                "callback": "null",
                "position": [ 0, -1 ],
                "pressedOffset": [ 0, -1 ],
                "base": "/pat/infinv/images/tab/button.png:base",
                "hover": "/pat/infinv/images/tab/button.png:hover",
                "pressed": "/pat/infinv/images/tab/button.png:pressed"
              }
            }
          }
        }
      }
    },
    "gridLayout": {
      "type": "layout",
      "layoutType": "basic",
      "scissoring": false,
      "children": {
        "slots": {
          "type": "list",
          "position": [ 53, 21 ],
          "columns": 10,
          "callback": "null",
          "scissoring": false,
          "data": {
            "slotCount": 60,
            "showBackingImageWhenEmpty": true,
            "showBackingImageWhenFull": false
          },
          "schema": {
            "spacing": [ 1, 1 ],
            "memberSize": [ 18, 18 ],
            "listTemplate": {
              "slot": {
                "type": "itemslot",
                "showCount": false,
                "showRarity": true,
                "showDurability": true,
                "backingImage": ""
              },
              "count": {
                "type": "label",
                "position": [ 20, -3 ],
                "mouseTransparent": true,
                "scissoring": false,
                "hAnchor": "right",
                "directives": "border=1;444;0000"
              },
              "backing": {
                "type": "image",
                "zlevel": -10,
                "mouseTransparent": true,
                "file": "/pat/infinv/images/editor/slotbacks/empty.png"
              }
            }
          }
        },
        "prevPageButton": {
          "type": "button",
          "callback": "Callbacks.changePage",
          "data": -1,
          "position": [ 100, 2 ],
          "pressedOffset": [ -1, 0 ],
          "base": "/pat/infinv/images/buttons/pagearrow.png",
          "hover": "/pat/infinv/images/buttons/pagearrow.png?multiply=aff",
          "pressed": "/pat/infinv/images/buttons/pagearrow.png?multiply=0ff"
        },
        "nextPageButton": {
          "type": "button",
          "callback": "Callbacks.changePage",
          "data": 1,
          "position": [ 140, 2 ],
          "pressedOffset": [ 1, 0 ],
          "base": "/pat/infinv/images/buttons/pagearrow.png?flipx",
          "hover": "/pat/infinv/images/buttons/pagearrow.png?flipx?multiply=aff",
          "pressed": "/pat/infinv/images/buttons/pagearrow.png?flipx?multiply=0ff"
        },
        "pageLabel": {
          "type": "label",
          "position": [ 125, 3 ],
          "hAnchor": "mid"
        },
        "pageScroller": {
          "type": "scrollArea",
          "rect": [ 47, 15, 248, 140 ],
          "verticalScroll": false
        },
        "pageBar": {
          "type": "canvas",
          "rect": [ 47, 15, 248, 17 ],
          "data": { "backColor": "#303030", "color": "#707070", "speed": 0.75 }
        }
      }
    },
    "editorLayout": {
      "type": "layout",
      "layoutType": "basic",
      "scissoring": false,
      "visible": false,
      "children": {
        "labelBg": {
          "type": "image",
          "position": [ 57, 122 ],
          "file": "/pat/infinv/images/editor/textbox.png"
        },
        "_blurTextbox": { "type": "textbox", "visible": false, "callback": "Callbacks.tabLabelBlur" },
        "labelTextbox": {
          "type": "textbox",
          "hint": "^#444;Bag name",
          "position": [ 61, 125 ],
          "maxWidth": 75,
          "callback": "Callbacks.tabLabelTextbox",
          "enterKey": "Callbacks.tabLabelBlur",
          "nextFocus": "_blurTextbox",
          "prevFocus": "_blurTextbox"
        },
        "moveTabUpButton": {
          "type": "button",
          "callback": "Callbacks.moveTabButton",
          "data": -1,
          "position": [ 202, 124 ],
          "pressedOffset": [ 0, 0 ],
          "base": "/pat/infinv/images/buttons/arrow.png:up",
          "hover": "/pat/infinv/images/buttons/arrow.png:up?multiply=afa",
          "pressed": "/pat/infinv/images/buttons/arrow.png:upPress?multiply=0f0"
        },
        "moveTabDownButton": {
          "type": "button",
          "callback": "Callbacks.moveTabButton",
          "data": 1,
          "position": [ 214, 124 ],
          "pressedOffset": [ 0, 0 ],
          "base": "/pat/infinv/images/buttons/arrow.png:down",
          "hover": "/pat/infinv/images/buttons/arrow.png:down?multiply=afa",
          "pressed": "/pat/infinv/images/buttons/arrow.png:downPress?multiply=0f0"
        },
        "deleteTabButton": {
          "type": "button",
          "callback": "Callbacks.deleteTabButton",
          "position": [ 228, 123 ],
          "pressedOffset": [ 0, 0 ],
          "base": "/pat/infinv/images/buttons/trash.png:base",
          "hover": "/pat/infinv/images/buttons/trash.png:base?multiply=faa",
          "pressed": "/pat/infinv/images/buttons/trash.png:press?multiply=f00"
        },
        "editorTabs": {
          "type": "tabSet",
          "tabButtonBaseImage": "/pat/infinv/images/editor/tab.png:base",
          "tabButtonHoverImage": "/pat/infinv/images/editor/tab.png:hover",
          "tabButtonPressedImage": "/pat/infinv/images/editor/tab.png:selected",
          "tabButtonBaseImageSelected": "/pat/infinv/images/editor/tab.png:selected",
          "tabButtonHoverImageSelected": "/pat/infinv/images/editor/tab.png:selected",
          "tabButtonPressedOffset": [ 0, -1 ],
          "tabButtonTextOffset": [ 0, -1 ],
          "tabButtonSpacing": [ -1, 0 ],
          "rect": [ 56, 15, 248, 120 ],
          "zlevel": 1,
          "tabs": [
            {
              "tabName": "icon",
              "tabTitle": "Icon",
              "children": {
                "rotateIconButton": {
                  "type": "button",
                  "callback": "Callbacks.tabIconRotateButton",
                  "position": [ 170, 80 ],
                  "pressedOffset": [ 0, 0 ],
                  "base": "/pat/infinv/images/buttons/rotate.png:base",
                  "hover": "/pat/infinv/images/buttons/rotate.png:base?multiply=aff",
                  "pressed": "/pat/infinv/images/buttons/rotate.png:press?multiply=0ff"
                },
                "scrollArea": {
                  "type": "scrollArea",
                  "rect": [ 0, 0, 192, 93 ],
                  "children": {
                    "list": {
                      "type": "list",
                      "position": [ 0, -18 ],
                      "columns": 5,
                      "fillDown": true,
                      "scissoring": false,
                      "callback": "Callbacks.tabIconSelect",
                      "data": {
                        "images": "/pat/infinv/images/editor/tabicons/tabicons.json",
                        "iconSlotTemplate": {
                          "type": "itemslot",
                          "position": [ 7, -1 ],
                          "callback": "IconPicker._slotLeft",
                          "rightClickCallback": "IconPicker._slotRight",
                          "mouseTransparent": true,
                          "showCount": false,
                          "showRarity": false,
                          "showDurability": false,
                          "showBackingImageWhenFull": true,
                          "showBackingImageWhenEmpty": true,
                          "backingImage": "/pat/infinv/images/editor/iconslot.png"
                        }
                      },
                      "schema": {
                        "selectedBG": "/pat/infinv/images/tab/selectedbg.png",
                        "spacing": [ 2, 3 ],
                        "memberSize": [ 32, 16 ],
                        "listTemplate": {
                          "background": { "type": "image", "zlevel": -10 },
                          "button": {
                            "type": "button",
                            "callback": "null",
                            "position": [ 0, -1 ],
                            "pressedOffset": [ 0, -1 ],
                            "base": "/pat/infinv/images/tab/button.png:base",
                            "hover": "/pat/infinv/images/tab/button.png:hover",
                            "pressed": "/pat/infinv/images/tab/button.png:pressed"
                          },
                          "icon": {
                            "type": "image",
                            "position": [ 16, 8 ],
                            "maxSize": [ 30, 18 ],
                            "zlevel": 2,
                            "centered": true,
                            "mouseTransparent": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            {
              "tabName": "border",
              "tabTitle": "Border",
              "children": {
                "scrollArea": {
                  "type": "scrollArea",
                  "rect": [ 0, 0, 192, 93 ],
                  "children": {
                    "list": {
                      "type": "list",
                      "position": [ 0, -18 ],
                      "columns": 5,
                      "fillDown": true,
                      "scissoring": false,
                      "callback": "Callbacks.tabBorderSelect",
                      "data": { "images": "/pat/infinv/images/editor/borders/borders.json" },
                      "schema": {
                        "selectedBG": "/pat/infinv/images/tab/selectedbg.png",
                        "spacing": [ 2, 3 ],
                        "memberSize": [ 32, 16 ],
                        "listTemplate": {
                          "background": { "type": "image", "zlevel": -10 },
                          "button": {
                            "type": "button",
                            "callback": "null",
                            "position": [ 0, -1 ],
                            "pressedOffset": [ 0, -1 ],
                            "base": "/pat/infinv/images/tab/button.png:base",
                            "hover": "/pat/infinv/images/tab/button.png:hover",
                            "pressed": "/pat/infinv/images/tab/button.png:pressed"
                          },
                          "icon": {
                            "type": "image",
                            "position": [ 16, 8 ],
                            "maxSize": [ 30, 18 ],
                            "zlevel": 2,
                            "centered": true,
                            "mouseTransparent": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            {
              "tabName": "backing",
              "tabTitle": "Slots",
              "children": {
                "scrollArea": {
                  "type": "scrollArea",
                  "rect": [ 0, 0, 192, 93 ],
                  "children": {
                    "list": {
                      "type": "list",
                      "position": [ 0, -18 ],
                      "columns": 5,
                      "fillDown": true,
                      "scissoring": false,
                      "callback": "Callbacks.tabBackingSelect",
                      "data": { "images": "/pat/infinv/images/editor/slotbacks/slotbacks.json" },
                      "schema": {
                        "selectedBG": "/pat/infinv/images/tab/selectedbg.png",
                        "spacing": [ 2, 3 ],
                        "memberSize": [ 32, 16 ],
                        "listTemplate": {
                          "background": { "type": "image", "zlevel": -10 },
                          "button": {
                            "type": "button",
                            "callback": "null",
                            "position": [ 0, -1 ],
                            "pressedOffset": [ 0, -1 ],
                            "base": "/pat/infinv/images/tab/button.png:base",
                            "hover": "/pat/infinv/images/tab/button.png:hover",
                            "pressed": "/pat/infinv/images/tab/button.png:pressed"
                          },
                          "icon": {
                            "type": "image",
                            "position": [ 16, 8 ],
                            "maxSize": [ 30, 18 ],
                            "zlevel": 2,
                            "centered": true,
                            "mouseTransparent": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          ]
        },
        "background": {
          "type": "image",
          "position": [ 47, 15 ],
          "zlevel": -100,
          "file": "/pat/infinv/images/editor/background.png",
          "scissoring": false,
          "mouseTransparent": true
        }
      }
    }
  }
}
